
*{
    margin: 0%;
    padding: 0%;
    font-style: sans-serif ;

}

body{
    width: 100%;
    height: 100%;
    background-image: url("rsm/la1s7yc8.png");
    background-repeat: no-repeat;
    background-position: ;
    background-size: cover;
}
.header{
    width: 90%;
    margin: 0 auto;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user{
    display: flex;
    align-items: center;

}

.logo{
    width: 80px;
    border-radius: 50%;
    bottom: 30px solid rgb(12, 47, 245);
    cursor: pointer;
    transition: 0.4;
}
h5{
    color: aliceblue;
    text-transform: capitalize;
    margin-left: 10px;
}
.nav{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    display: inline;
    margin-right: 30px ;

}
ul li a{
    text-decoration: none;
    color: wheat;
    transform: 0.5;
}
ul li a {
    color: blue;
    border-bottom: 2px solid red ;
}
.row{
    width: 90%;
    height: 60%;
    margin: 20px auto 0 ;
    border: 2px solid #d33f3f;
    display: flex;
}
.col1{
flex-basis: 50%;


}
h1{
    text-transform: capitalize;
    color: aliceblue;
}
p{
    color: aliceblue;
    font-size: 20px;
    margin: 20px;
} 
abbr{
    color: rgb(136, 10, 10);
    padding: 5px 6px ;
    border-radius: 10px;
    cursor: pointer;
}
.col2{
    flex-basis: 50%;

}